<div class='main-wrapper'>

	<div class="row">
		<div class="medium-7 large-3 columns dash-welcome">
			<h3>Hello {{currentEmployee.firstname}}! </h3>
			<p>You currently have:</p>
			<p><strong>{{currentEmployee.books.length}}</strong> books in your book list. </p>
			<p><strong>{{currentEmployee.messages.length}}</strong> messages. </p>
			<p><strong>{{currentEmployee.todo.length}}</strong> items in your to do list. </p>
		</div>
		
		<div class="medium-6 columns">
			<div class="callout secondary">
				<form ng-submit="createToDo(toDoData.desc, toDoData.priority, toDoData.status)">
					<div class="row">
						<div class="small-12 columns">
						<h4>Add to Your To Do List</h4>					
							<label>Item Description
							<textarea placeholder="What do you need to do?"  ng-model="toDoData.desc" required></textarea>
							</label>
						</div>
						<div class="small-6 columns">
							  <label>Priority
								<select ng-model="toDoData.priority" required>
									<option value="low">Low</option>
									<option value="medium">Medium</option>
									<option value="high">High</option>
									</select>
							</label>
							<button type="submit" class="button">Add Item!</button>
						</div>
						<div class="small-6 columns">
							  <label>Status
								<select ng-model="toDoData.status" required>
									<option value="active" selected>Active</option>
									<option value="pending">Pending</option>
									<option value="completed">Completed</option>
									</select>
							</label>
						</div>
					</div>
				</form>
			</div>
		</div>
		
	</div>
	<div class="row">
	<hr>
	</div>
	<div class="row">
		<p class="lead">{{currentEmployee.firstname}}'s Lists</p>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<div class="callout">
			{{currentEmployee.firstname}}'s Book List			
			<table id="book-table">
				<tr>
					<th class="headerSortDown">						
						<span class="sortorder" ng-show="predicate === 'title'" ng-class="{reverse:reverse}"></span><br>
						<button ng-click="order('title')" id="book-header" class="button radius">Title</button>
					</th>
					<th>
						<span class="sortorder" ng-show="predicate === 'category'" ng-class="{reverse:reverse}"></span><br>
						<button ng-click="order('category')" id="book-header" class="button radius">Category</button>
					</th>
					<th>
						<span class="sortorder" ng-show="predicate === 'isbn10'" ng-class="{reverse:reverse}"></span><br>
						<button ng-click="order('isbn10')" id="book-header" class="button radius">ISBN10</button>
					</th>
				</tr>
				<tr ng-repeat="book in currentEmployee.books | orderBy: predicate:reverse">
					<td id="book-title">{{book.title}}</td>
					<td>{{book.category}}</td>
					<td>{{book.isbn10}}</td>
				</tr>
			</table>	  
			</div>
		</div>
		<div class="large-12 columns">
			<div class="callout">
			{{currentEmployee.firstname}}'s To Do List
			<table>
				<tr>
					<th>Date</th>
					<th>Description</th>
					<th>Status</th>
					<th>Priority</th>
					<th>Actions</th>
				</tr>
				<tr ng-repeat="item in currentEmployee.todo | orderBy: '-date'">
					<td>{{item.date}}</td>
					<td>{{item.description}}</td>
					<td>
						<span ng-if="item.status == 'completed'" class="success badge" id="badge-text">{{item.status}}</span>
						<span ng-if="item.status == 'pending'" class="warning badge" id="badge-text">{{item.status}}</span>
						<span ng-if="item.status == 'active'" class="badge" id="badge-text">{{item.status}}</span>
					</td>
					<td>
						<span ng-if="item.priority == 'high'" class="alert badge" id="badge-text">{{item.priority}}</span>
						<span ng-if="item.priority == 'medium'" class="warning badge" id="badge-text">{{item.priority}}</span>
						<span ng-if="item.priority == 'low'" class="badge" id="badge-text">{{item.priority}}</span>
					</td>
					<td>
						<button class="button"><i class="fa fa-lg fa-edit fa-fw"></i></button>
						<button class="button" ng-click="deleteToDo(item.id)"><i class="fa fa-lg fa-trash fa-fw"></i></button>
					</td>
				</tr>
			</table>	
			</div>
		</div>
		
		<div class="large-12 columns">
			<div class="callout">
				<div ng-repeat="message in currentEmployee.messages"> 
					<div class='message-meta row'>
						<div class='large-6 columns'>{{message.date}}</div>

						<div class='large-6 columns message-badge'>
							<span class="success label {{message.category}}">{{message.category}}</span>
						</div>
					</div>
				
					<div class='message-content large-12 columns'>
						<p>{{message.content}}</p>
							<div class='message-sender'>
							<p>- {{message.contact.firstname}} {{message.contact.lastname}}</p>
							<p><a data-reveal-id="{{message.contact.university.id}}" target="_blank" ng-click="messageClicked(message.id)">{{message.contact.university.name}}</a></p>
						</div>
					</div>
				 </div>	
			</div>
		</div>
	</div>
</div>


	


