
<div class="modal fade" ng-controller="DashCtrl">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{mapLocation}}</h4>
      </div>
      <div class="modal-body">
        <ui-gmap-google-map center='map.center' control='h.control' zoom='map.zoom'></ui-gmap-google-map>
      </div>

    </div>
  </div>
</div>
