/* app css stylesheet */

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.main {
  clear:both;
}

.nav {
  list-style-type: none;
  padding: 0;
}

.nav li {
  float: left;
  margin-right: 10px;
}

.nav:after {
  clear:both;
}

/* Dashboard */

.dashboard-section{
  border: 1px solid #f0f0f0;
  padding: .25rem;
}


.main-wrapper.ng-scope {
    padding-top: 2rem;
}

.medium-7.large-3.columns.dash-welcome p {
    margin-bottom: 0;
}


/* Messages */

.callout{
  overflow: auto;
}

div.message-content {
    background: #F1F1F1;
    padding: .5rem;

    border: 1px solid #CCCCCC;
}

.message-meta.row {
    padding-bottom: 0.25rem;
}

.message-content.large-12.columns {
    margin-bottom: 1rem;
}

.large-6.columns.message-badge span {
    float: right;
}

span.success.label.Query {
    background: purple;
}

span.success.label.Help {
    background: blue;
}

span.success.label.Response {
    background: red;
}

span.success.label.Order {
    background: orange;
}

.angular-google-map-container { height: 400px; }


/* Books */


#book-table{
	font-size: x-small;
}

#book-title{
	font-weight: bold;
}

#book-header{
	font-size: 120%;
}

.sortorder:after {
  content: '\25b2';
}
.sortorder.reverse:after {
  content: '\25bc';
}

#badge-text{
	font-size: 80%;
}

/* About */
body {
  background: #333; }

.header.panel {
  margin: 3rem auto;
  border: 2px solid #444;
  background: #fff; }
  .header.panel p {
    font: 1rem "Avenir Next";
    padding: 1rem 2rem 2rem 2rem;
    margin-top: -1.25rem; }
    .header.panel p span {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 75%;
      font-weight: bold; }
  .header.panel .sign {
    background: #fff;
    width: 150px;
    height: 2.4rem;
    border: 2px solid #444;
    position: relative;
    top: -2.5rem;
    margin: auto; }
    .header.panel .sign h1 {
      text-transform: uppercase;
      font: bolder 0.875rem "Avenir Next";
      letter-spacing: 3px;
      color: #666;
      font-size: 70%;
      text-align: center;
      line-height: 2rem; }

div#about-wrap {
    background: #333;
}




