/* app css stylesheet */

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.main {
  clear:both;
}

.nav {
  list-style-type: none;
  padding: 0;
}

.nav li {
  float: left;
  margin-right: 10px;
}

.nav:after {
  clear:both;
}

/* Dashboard */

.dashboard-section{
  border: 1px solid #f0f0f0;
  padding: .25rem;
}

#book-table{
	font-size: x-small;
}

#book-title{
	font-weight: bold;
}

#book-header{
	font-size: 120%;
}

.sortorder:after {
  content: '\25b2';
}
.sortorder.reverse:after {
  content: '\25bc';
}

#badge-text{
	font-size: 80%;
}

